[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
matplotlib = "*"
jupyter = "*"
lab = "*"
gym = "*"
jupyterlab = "*"
tqdm = "*"
binarytree = "*"
pylint = "*"
pandas = "*"
seaborn = "*"

[requires]
python_version = "3.7"
